pandas
numpy
seaborn
matplotlib
scikit-learn
imbalanced-learn
xgboost
joblib
tensorflow
keras
plotly
dash
flask
flask-restful
flask-cors
flask-jwt-extended
flask-socketio
sqlalchemy
psycopg2
flask-sqlalchemy
flask-migrate
flask-login
flask-wtf
flask-mail
flask-admin
flask-restplus
flask-swagger-ui
flask-socketio



